{% extends "base.html" %}
{% block title %}Naujas uždavinys{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    <br/>
    <h3 align="center">Naujas uždavinys</h3>
    <div class="form-group">
      <label for="taskName">Uždavinio pavadinimas</label>
      <input
        type="text"
        class="form-control"
        id="taskName"
        name="taskName"
        placeholder="Įrašykite naujo uždavinio pavadinimą"
      />
    </div>
    <div class="form-group">
      <label for="timeLimit">Laiko limitas</label>
      <input
        type="number"
        class="form-control"
        id="timeLimit"
        name="timeLimit"
        placeholder="Įrašykite laiko limitą (sekundėmis)"
      />
    </div>
    <div class="form-group">
      <label for="memoryLimit">Atminties limitas</label>
      <input
        type="number"
        class="form-control"
        id="memoryLimit"
        name="memoryLimit"
        placeholder="Įrašykite atminties limitą (MB)"
      />
    </div>
    <div class="form-group">
      <label for="PDF">Uždavinio PDF</label>
      <br/>
      <input
      type="file"
      id="PDF"
      name="PDF"
      accept=".pdf, .vnd.ms-excel"
      />
    </div>
    <div class="form-group">
        <label for="tests">Uždavinio testai</label>
        <br/>
        <input
        type="file"
        id="tests"
        name="tests"
        multiple
        accept=".in, .sol"
        />
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Patvirtinti</button>
  </form>

{% endblock %}
